.mw_wp_form{
	.contact__read{
		&__input{
            display: none;
		}
		&__error{
			display: none;
		}
        &__confirm{
            display: block;
        }
	}
}
.contact__formarea__list dd.select{
    gap: 10px;
}
.contact__formarea__list dd .list__block01--name{
    flex-flow: row nowrap;
    gap: 2em;
}
.contact__formarea__list dd .list__block01--name li{
    width: auto;
    min-width: auto;
     span {
        width: auto;
        display: none;
    }
}
.contact__formarea__list dd.information span.title {
  display: none;
}
.contact__formarea__list.confirm{
    display: none;
}
.contact__formarea__list dd {
  line-height: 1.6;
}
.contact__formarea__list dd.information li {
    flex-flow: row;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
  .contact .c-btn.-medium {
       max-width: 800px;
    }
}
.mail-confirm {
    display: none;
}
.error-block {
  display: flex;
  width: 100%;
  flex-flow: column;
  gap: 10px;
}
.contact__formarea__list dt span.required {
    display: none;
    @media screen and (min-width: 1024px) {
        display: none;
    }
}
.contact__formarea__list dt span.nonespan {
    display: none;
    @media screen and (min-width: 1024px) {
        display: none;
    }
}