<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>下村特殊精工株式会社　｜　高品質の快削ステンレス鋼・快削鋼・工具鋼の磨き棒鋼専門メーカー</title>

<meta name="description" content="下村特殊精工の採用エントリーフォームを掲載しています。">
<meta name="keywords" content="下村特殊精工,大同特殊鋼,鉄鋼メーカー,モノづくり,採用,リクルート,新卒採用,中途採用,キャリア採用,会社紹介,福利厚生,仕事紹介,社員紹介,社員インタビュー">
<meta name="format-detection" content="telephone=no,address=no,email=no">

<!--404ページ-->
<!--<meta http-equiv="refresh" content="10 ; URL=/">-->

<!--ファビコン-->
<link rel="shortcut icon" href="../common/images/favicon.png">
<!--スタイルシート-->
<link href="../css/style.css" rel="stylesheet">
<link href="../css/front-page.css" rel="stylesheet">
<link href="../css/contact.css" rel="stylesheet">
<link href="../common/css/magnific-popup.css" rel="stylesheet">
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/script.js"></script>
<script src="../common/js/jquery.magnific-popup.min.js"></script>
	
<!--fontawesome-->
<!-- <script src="https://kit.fontawesome.com/f01c716632.js"></script> -->

<!--googlefontcode Roboto -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!--googlefontcode Roboto Condensed -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!--Vue.js-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body class="pagewrap contact">
<div class="wrapper">

<header class="page-header">




    <a class="page-header__logowrap" href="/recruit">
      <h1 class="page-header__logowrap__title">RECRUIT</h1>
      <p class="page-header__logowrap__caption">
        下村特殊精工<br>
        採用サイト
      </p>
    </a>
  <!-- l-header-logowrap -->

  <div class="page-header__menuwrap">

    <ul class="page-header__menuwrap__menu">
      <li class="page-header__menuwrap__menu-list"><a href="../aboutus">会社を知る</a></li>
      <li class="page-header__menuwrap__menu-list"><a href="../environment">働く環境を知る</a></li>
      <li class="page-header__menuwrap__menu-list"><a href="../ourwork">仕事を知る</a></li>
      <li class="page-header__menuwrap__menu-list"><a href="../internship/">インターンシップ制度</a></li>
      <li class="page-header__menuwrap__menu-list"><a href="../outline/">募集要項</a></li>
      <li class="page-header__menuwrap__menu-list"><a href="../qa">よくあるご質問</a></li>
    </ul>
    <!-- l-header-menu -->

    <div class="page-header__menuwrap__entrybox">
      <a href="../contact" class="page-header__menuwrap__entrybox__link">
        エントリー
      </a>
    </div>
    <!-- l-header-entrybox -->

  </div>
  <!-- page-header__menuwrap -->



</header>
<!-- header / end -->


<div class="headerflex">



  <a class="page-header__logowrap" href="/recruit">
    <h1 class="page-header__logowrap__title">RECRUIT</h1>
    <p class="page-header__logowrap__caption">
      下村特殊精工<br>
      採用サイト
    </p>
  </a>
<!-- l-header-logowrap -->

<div class="page-header__menuwrap">

  <ul class="page-header__menuwrap__menu">
    <li class="page-header__menuwrap__menu-list"><a href="../aboutus">会社を知る</a></li>
    <li class="page-header__menuwrap__menu-list"><a href="../environment">働く環境を知る</a></li>
    <li class="page-header__menuwrap__menu-list"><a href="../ourwork">仕事を知る</a></li>
    <li class="page-header__menuwrap__menu-list"><a href="../internship/">インターンシップ制度</a></li>
    <li class="page-header__menuwrap__menu-list"><a href="../outline/">募集要項</a></li>
    <li class="page-header__menuwrap__menu-list"><a href="../qa">よくあるご質問</a></li>
  </ul>
  <!-- l-header-menu -->

  <div class="page-header__menuwrap__entrybox">
    <a href="../contact" class="page-header__menuwrap__entrybox__link">
      エントリー
    </a>
  </div>
  <!-- l-header-entrybox -->

</div>
<!-- page-header__menuwrap -->



</div>
<!-- header / end -->





<!-- ハンバーガーメニューに関わる記述 -->
<div class="spnavi">

  <div class="Btn-navi__first">
      <a href="#" class="menuBtn"><span class="menu-icon"></span></a>
  </div>
<div class="Btn-navi">
      <a href="" class="menuBtn"><span class="menu-icon"></span></a>
  </div>

  <div class="navi-content">

    <div class="navi-content__logowrap">
      <h1 class="navi-content__logowrap__title">RECRUIT</h1>
      <p class="navi-content__logowrap__caption">
        下村特殊精工<br>
        採用サイト
      </p>
    </div>

      <navi class="navi-content__menuwrap__spmenu">
        <ul class="navi-content__menuwrap__spmenu__list">
          <li class="navi-content__menu__list"><a href="../aboutus">会社を知る</a></li>
          <li class="navi-content__menu__list"><a href="../environment">働く環境を知る</a></li>
          <li class="navi-content__menu__list"><a href="../ourwork">仕事を知る</a></li>
          <li class="navi-content__menu__list"><a href="../internship/">インターンシップ制度</a></li>
          <li class="navi-content__menu__list"><a href="../outline/">募集要項</a></li>
          <li class="navi-content__menu__list"><a href="../qa">よくあるご質問</a></li>
        </ul>
        <!-- l-header__menu -->
        <div class="navi-content__menuwrap__entrybox">
          <a href="../contact" class="navi-content__menuwrap__entrybox__link">
            エントリー
          </a>
        </div>
        <!-- l-header__entrybox -->
      </navi>
  </div>
</div>

<!-- ハンバーガーメニュー背景画像 -->
<div class="navi-background"></div>





<section id="firstview" class="firstview wrapcontent">

  <div class="firstview__maintxt">
    <span>Entry</span>
  エントリーフォーム
  </div>
  <!-- firstview__meintxt -->

  <div class="firstview__videowrap">


  </div>
  <!-- firstview__videowrap -->


</section>
<!-- wrapcontent / end -->



<section id="pankuzu" class="pankuzu contentwrap fixedtrigger">

  <div class="pankuzu__element">
    <ul class="pankuzu__element__list">
      <li class="pankuzu__element__list___item">
        <a href="/recruit">採用サイトTOP</a>
      </li>
      <li class="pankuzu__element__list___arrow">
        ＞
      </li>
      <li class="pankuzu__element__list___item">
        エントリーフォーム
      </li>
    </ul>
  </div>
  <!-- pankuzu__element -->

</section>

<main>
  <section id="content01" class="contact wrapcontent">
    <h2 class="wrapcontent__massegetitle">
      エントリーフォーム
    </h2>
    <div class="contact__read wrapcontent__element">
      下村特殊精工株式会社にご関心をお寄せいただき、<br class="mdblock">
      誠にありがとうございます。<br>
      当社採用へのエントリーは、<br class="mdblock">
      下記フォームをご利用ください。<br>
      以下に必須項目をご入力のうえ、<br class="mdblock">
      【入力内容を確認する】ボタンを押してください。<br>
      確認画面に進みますので、内容をご確認後<br class="mdblock">
      【送信】ボタンをクリックしてください。
    </div>
    <div class="contact__formarea wrapcontent__element">
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>お名前（全角）</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('name')">
          <ul class="list__block01--name">
            <li><span>姓</span><input type="text" v-model="store['namef']" class="" name="namef" placeholder="姓を入力してください" maxlength="64" autocomplete="family-name"></li>
            <li><span>名</span><input type="text" v-model="store['namel']" class="" name="namel" placeholder="名を入力してください" maxlength="64" autocomplete="given-name"></li>
          </ul>
        </dd>
				<dd v-else>{{ store['namef'] }}&nbsp;&nbsp;{{ store['namel'] }}</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>フリガナ（全角）</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('ruby')">
          <ul class="list__block01--name">
            <li><span>セイ</span><input type="text" v-model="store['rubyf']" class="" name="rubyf" placeholder="姓をカタカナで入力してください" maxlength="64" autocomplete="family-name" value=""></li>
            <li><span>メイ</span><input type="text" v-model="store['rubyl']" class="" name="rubyl" placeholder="名をカタカナで入力してください" maxlength="64" autocomplete="given-name" value=""></li>
          </ul>
        </dd>
				<dd v-else>{{ store['rubyf'] }}&nbsp;&nbsp;{{ store['rubyl'] }}</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>生年月日</span></dt>
        <dd class="select" v-if="! confirm" v-on:focusout="check('birth')">
          <select v-model="store['birthy']" name="birthy" v-on:change="changeYMD()" class="" required>
            <option value="" disabled selected>年</option>
						<option v-for="n in yearC" v-bind:value="n + yearS">{{ n + yearS }}</span>
          </select>
          <select v-model="store['birthm']" name="birthm" v-on:change="changeYMD()" class="" required>
            <option value="" disabled selected>月</option>
						<option v-for="n in 12" v-bind:value="n">{{ n }}</span>
          </select>
          <select v-model="store['birthd']" name="birthyd" class="" required>
            <option value="" disabled selected>日</option>
						<option v-for="n in days" v-bind:value="n">{{ n }}</span>
          </select>
        </dd>
				<dd v-else>{{ store['birthy'] }}年&nbsp;{{ store['birthm'] }}月&nbsp;{{ store['birthd'] }}日</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>住所</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('address')" class="information">
          <ul>
            <li class="tel">
              <span class="title">〒</span>
              <input type="text" v-model="store['zipcode1']" class="" name="zipcode01" inputmode="numeric" maxlength="3">
              <span>　ー　</span>
              <input type="text" v-model="store['zipcode2']" class="" name="zipcode02" inputmode="numeric" maxlength="4">
            </li>
            <li class="select">
              <span class="title">都道府県</span>
              <select class="select-b" name="prefecture" v-model="store['prefecture']" required="">
                <option value="" disabled selected>選択してください</option>
								<option  v-for="(prefecture, index) in prefectures" v-bind:value="prefecture">{{ prefecture }}</option>
              </select>
            </li>
            <li class="text">
              <span class="title">市区町村</span>
              <input type="text" name="add1" v-model="store['add1']">
            </li>
  
            <li class="text">
              <span class="title">番地</span>
              <input type="text" name="add2" v-model="store['add2']">
            </li>
            <li class="text">
              <span class="title">マンション・ビル名</span>
              <input type="text" name="add3" v-model="store['add3']">
            </li>
          </ul>
        </dd>
				<dd v-else>
					{{ store['zipcode1'] }}&nbsp;ー&nbsp;{{ store['zipcode2'] }}<br>{{ store['prefecture'] }}<br>{{ store['add1'] }}<br>{{ store['add2'] }}<br>{{ store['add3'] }}
				</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>電話番号</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('tel')" class="tel">
          <div>
            <input type="text" v-model="store['tel1']" class="" name="tel1" inputmode="numeric" maxlength="5">
            <span>ー</span>
            <input type="text" v-model="store['tel2']" class="" name="tel2" inputmode="numeric" maxlength="4">
            <span>ー</span>
            <input type="text" v-model="store['tel3']" class="" name="tel3" inputmode="numeric" maxlength="4">
          </div>
        </dd>
				<dd v-else>{{ store['tel1'] }}&nbsp;ー&nbsp;{{ store['tel2'] }}&nbsp;ー&nbsp;{{ store['tel3'] }}</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required nonespan">必須</span><span>携帯番号</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('ctel')" class="tel">
          <div>
            <input type="text" v-model="store['ctel1']" class="" name="ctel1" inputmode="numeric" maxlength="3">
            <span>ー</span>
            <input type="text" v-model="store['ctel2']" class="" name="ctel2" inputmode="numeric" maxlength="4">
            <span>ー</span>
            <input type="text" v-model="store['ctel3']" class="" name="ctel3" inputmode="numeric" maxlength="4">
          </div>
        </dd>
				<dd v-else>{{ store['ctel1'] }}&nbsp;ー&nbsp;{{ store['ctel2'] }}&nbsp;ー&nbsp;{{ store['ctel3'] }}</dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>メールアドレス</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('mail')">
          <input type="email" name="mail" v-model="store['mail']">
        </dd>
				<dd v-else>{{ store['mail'] }}</dd>
      </dl>
      <dl v-if="! confirm" class="contact__formarea__list">
        <dt><span class="required">必須</span><span>メールアドレス確認用</span></dt>
        <dd v-on:focusout="check('mail_conf')">
          <input type="email" name="mail_conf" v-model="store['mail_conf']">
        </dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required nonespan">必須</span><span>携帯アドレス</span></dt>
        <dd v-if="! confirm" v-on:focusout="check('cmail')">
          <input type="email" name="cmail" v-model="store['cmail']">
        </dd>
				<dd v-else>{{ store['cmail'] }}</dd>
      </dl>
      <dl v-if="! confirm" class="contact__formarea__list">
        <dt><span class="required nonespan">必須</span><span>携帯アドレス確認用</span></dt>
        <dd v-on:focusout="check('cmail_conf')">
          <input type="email" name="cmail_conf" v-model="store['cmail_conf']">
        </dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>学歴</span></dt>
        <dd v-if="! confirm">
          <textarea name="background" v-model="store['background']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['background'])"></dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required nonespan">必須</span><span>職歴</span></dt>
        <dd v-if="! confirm">
          <textarea name="career" v-model="store['career']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['career'])"></dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>資格</span></dt>
        <dd v-if="! confirm">
          <textarea name="license" v-model="store['license']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['license'])"></dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>通知方法と<br>希望時間など</span></dt>
        <dd v-if="! confirm">
          <textarea name="etc" v-model="store['etc']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['etc'])"></dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>応募の動機</span></dt>
        <dd v-if="! confirm">
          <textarea name="motivation" v-model="store['motivation']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['motivation'])"></dd>
      </dl>
      <dl class="contact__formarea__list">
        <dt><span class="required">必須</span><span>趣味・特技など</span></dt>
        <dd v-if="! confirm">
          <textarea name="ability" v-model="store['ability']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['ability'])"></dd>
      </dl>
      <dl class="contact__formarea__list textarea">
        <dt><span class="required">必須</span><span>本人希望記入欄</span></dt>
        <dd v-if="! confirm">
          <textarea name="request" v-model="store['request']"></textarea>
        </dd>
				<dd v-else v-html="sanitizeHtml(store['request'])"></dd>
      </dl>
      <div v-if="! complete" class="c-btn -medium">
				<ul v-if="errors.length > 0" class="mfp-s-error">
					<li v-for="(error, index) in errors">{{ error }}</li>
				</ul>
        <a v-on:click="send"><button v-if="! confirm" class="c-btn__link">入力内容確認画面へ</button></a>
        <a v-on:click="inpt"><button v-if="confirm" class="c-btn__link">入力へ戻る</button></a>
        <a v-on:click="send"><button v-if="confirm" class="c-btn__link">エントリーする</button></a>
      </div>
      <div v-if="complete" class="c-btn -medium">上記の通り、エントリーを受け付けました。</div>
    </div>
  </section><!-- content01 -->
</main>

<section id="contact" class="contactzone contentwrap">
  <h2>
    <span>Information</span>
    採用情報
  </h2>
  <div class="contactzone__flex">
    <a class="contactzone__flex__item" href="../internship/">
      インターンシップ制度
    </a>
    <a class="contactzone__flex__item" href="../outline/">
      募集要項
    </a>
    <!-- contactzone__flex" -->
    <a class="contactzone__flex__item" href="../contact/">
      エントリーフォーム
    </a>
    <!-- contactzone__flex" -->
    <a class="contactzone__flex__item" href="../qa">
      よくあるご質問
    </a><!-- contactzone__flex" -->
  </div><!-- contactzone__flex" -->
</section><!-- contentwrap / end -->

<footer class="l-footer">
  <section class="l-footer__wrapcontent">
    <div class="l-footer__wrapcontent__title">
      <a href="/">
        <img class="l-footer__wrapcontent__title__img" src="../images/svg/logo_w.svg" alt="下村特殊精工株式会社">
      </a>
    </div>
    <ul class="l-footer__wrapcontent__flex">
      <li class="l-footer__wrapcontent__flex__item"><a href="..">リクルートTOP</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../aboutus">会社を知る</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../environment">働く環境を知る</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../ourwork">仕事を知る</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../internship">インターンシップ制度</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../outline/">募集要項</a></li>
      <li class="l-footer__wrapcontent__flex__item"><a href="../qa/">よくあるご質問</a></li>
    </ul>
    <div class="l-footer__youtubebox">
      <a href="https://www.youtube.com/watch?v=UKkD3GnF6og?autoplay=1&mute=1" class="l-footer__youtubebox__link popup-iframe">
        <span class="l-footer__youtubebox__link__img">
          <img src="../images/svg/yooutube.svg" alt="会社紹介 MOVIE">
        </span>
        会社紹介 MOVIE
      </a>
    </div>
    <!-- footer-youtubebox -->
  </section>

  <div class="copylight">
    © Copyright by SHIMOMURA TOKUSHU SEIKO Co.,Ltd.
  </div>
</footer>

</div>
<script type="module">
const vueApp = Vue.createApp({
	data() {
		return {
			yearS: 1899, /* 最小値より1小さく指定 */
			yearC: 125, /* 年の出力回数 */
			days: 31,
			store: { 'namef': '', 'namel': '', 'rubyf': '', 'rubyl': '', 'birthy': '', 'birthm': '', 'birthd': '', 'zipcode1': '', 'zipcode2': '', 'add1': '', 'add2': '', 'add3': '', 'tel1': '', 'tel2': '', 'tel3': '', 'ctel1': '', 'ctel2': '', 'ctel3': '', 'mail': '', 'mail_conf': '', 'cmail': '', 'cmail_conf': '', 'background': '', 'career': '', 'license': '', 'etc': '', 'motivation': '', 'ability': '', 'request': '', },
			errors: [],
			checking: false,
			sending: false,
			confirm: false,
			prefectures: [],
			complete: false,
		}
	},
  mounted() {
		let config = { headers:{ 'X-Requested-With': 'XMLHttpRequest', }, };
		let params = new FormData();
		params.append('mode', 'get_prefecture');
		axios.post('/cgi-bin/entry_2025.pl', params, config).then(response => {
			this.prefectures = response.data.prefectures;
		});
	},
  methods: {
		changeYMD: function(){
			switch( this.store['birthm'] ){
				case 2:
					if( this.store['birthy'] % 400 == 0){
						this.days = 29;
					} else if( this.store['birthy'] % 100 == 0){
						this.days = 28;
					} else if( this.store['birthy'] % 4 == 0){
						this.days = 29;
					} else {
						this.days = 28;
					}
					break;
				case 4: case 6: case 9: case 11:
					this.days = 30;
					break;
				default:
					this.days = 31;
					break;
			}
		},
		sanitizeHtml: function(html) {
			return html.replace(/[<]/g, '&lt;').replace(/[>]/g, '&gt;').replace(/[\n]/g, "<br>\n");
		},
 		check: function(mode){
			if( this.checking ) return true;
			this.checking = true;
			this.errors = [];
			let config = { headers:{ 'X-Requested-With': 'XMLHttpRequest', }, };
			let params = new FormData();
			for( let key in this.store ){
				params.append(key, this.store[key] === null ? '' : this.store[key]);
			};
			params.append('mode', mode);
			axios.post('/cgi-bin/entry_2025.pl', params, config).then(response => {
				if( response.data.result ){
					if( this.sending ) this.send();
				} else {
					this.confirm = false;
					this.errors = response.data.errors;
				}
				this.checking = false;
			}).catch(failure => {
				this.errors = ['不明なエラーが発生しました。お手数をおかけしますが、今一度入力をやり直してください。'];
				this.checking = false;
				this.confirm = false;
			});
		},
 		send: function(){
			if( this.checking ){
				this.sending = true;
				return true;
			}
			this.errors = [];
			let config = { headers:{ 'X-Requested-With': 'XMLHttpRequest', }, };
			let params = new FormData();
			for( let key in this.store ){
				params.append(key, this.store[key] === null ? '' : this.store[key]);
			};
			params.append('mode', this.confirm ? 'send' : 'confirm');
			axios.post('/cgi-bin/entry_2025.pl', params, config).then(response => {
				if( response.data.result == 1 ){
					this.confirm = true;
				} else if( response.data.result == 2 ){
					this.complete = true;
					this.confirm = true;
					this.sending = false;
				} else {
					this.confirm = false;
					this.errors = response.data.errors;
				}
				this.sending = false;
			}).catch(failure => {
				this.errors = ['不明なエラーが発生しました。お手数をおかけしますが、今一度入力をやり直してください。'];
				this.confirm = false;
				this.sending = false;
			});
		},
		inpt: function(){
			this.confirm = false;
			this.sending = false;
		},
	},
}).mount('main');
</script>
</body>
</html>